<div class="container" id="pending-uois">

<% if current_user %>
  <% if @ious.any? %>
    <ul>
    <% @ious.each do |iou| %>
      <li>
        <%= iou.title %>
        <%= iou.name %>
        <%= iou.amount %>
        <% if iou.status == "created" %>
          <%= link_to "Accept", iou_path(iou), method: :patch %>
        <% elsif iou.status == "pending" %>
          <%= link_to "Pay Now", iou_path(iou), method: :patch %>
        <% end %>
        <%= iou.status %>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p>NO IOUS!</p>
  <% end %>
<% end %>

<%= render "uoi_button" %>

</div>
