<div class="container" id="pending-uois">
  <div class="list-panel">
    <% if current_user %>
      <% if @ious.any? %>
        <ul>
          <% @ious.each do |iou| %>
            <li>
              <div class="row">
                <div class="col s12 l12">
                  <div class="card <%= iou.get_colour %>">
                    <div class="card-content white-text">
                      <span class="card-title"><%= iou.title %></span>
                      <p><%= iou.name %></p>
                      <p><%= iou.amount %></p>
                      <p><%= iou.created_at.strftime( "%H:%M on %a %d %B %Y") %></p>
                      <div class="card-action">
                        <%= iou.status %>
                        <%= link_to "Delete", iou_path(iou), method: :delete %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <% else %>
          <p>NO IOUS!</p>
        <% end %>
      <% end %>
    </div>
  <%= render "uoi_button" %>
</div>
