<div class="container" id="pending-uois">
  <div class="list-panel">
    <div class="row">
      <% if current_user %>
        <% if @ious.any? %>
          <ul>
            <% @ious.each do |iou| %>
              <li>
                  <div class="col s12 l12">
                    <div class="card <%= iou.get_colour %>">
                      <div class="card-content white-text">
                        <span class="card-title"><%= iou.title.capitalize %></span>
                        <p>Useless friend: <b><%= iou.name %></b></p>
                        <p>Owes you <b><%= "£%.2f" % iou.amount %></b></p>
                        <p>From: <%= iou.created_at.strftime( "%H:%M on %a %d %B %Y") %></p>
                        <p>STATUS: <b><%= iou.status.upcase%></b></p>
                        <div class="card-action">
                          <%= link_to "Delete", iou_path(iou), method: :delete, class: "waves-effect relative btn blue-grey ligthen-3" %>
                        </div>
                      </div>
                    </div>
                  </div>
              </li>
            <% end %>
          </ul>
          <% else %>
          <div class="card blue-grey ligthen-3">
            <div class="card-content white-text">
              <h3 style="text-align: center">NO ONE OWE$ YOU MONEY</h3>
            </div>
          </div>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  <%= render "uoi_button" %>
</div>
