<div class="container" id="pending-uois">

<% if current_user %>
  <% if @ious.any? %>
    <ul>
    <% @ious.each do |iou| %>
    <% if iou.status == "created" %>
    <% @card_colour = "red lighten-2" %>
    <% elsif iou.status == "pending" %>
    <% @card_colour = "purple lighten-2" %>
    <% elsif iou.status == "paid" %>
    <% @card_colour = "blue-grey lighten-4" %>
    <% end %>
      <li>
        <div class="row">
          <div class="col s12 l12">
            <div class="card <%= @card_colour %>">
            <div class="card-content white-text">
              <span class="card-title"><%= iou.title %></span>
                <p><%= iou.status %></p>
                <p><%= iou.name %></p>
                <p><%= iou.amount %></p>
                <div class="card-action">
                  <% if iou.status == "created" %>
                    <%= link_to "Accept", iou_path(iou), method: :patch %>
                  <% elsif iou.status == "pending" %>
                    <%= link_to "Pay Now", iou_path(iou), method: :patch %>
                  <% elsif iou.status == "paid" %>
                    <p> PAID </p>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        </div>
      </li>
    <% end %>
    </ul>
  <% else %>
    <p>NO IOUS!</p>
  <% end %>
<% end %>

<%= render "uoi_button" %>

</div>
