<!DOCTYPE html>
<html>
<head>
  <title>Uoi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


  <div class="navbar-fixed teal lighten-2">
    <nav class="teal lighten-2">
      <div class="nav-wrapper teal lighten-2">
        <a href="#!" class="brand-logo center teal lighten-2">UOI</a>
        <ul class="right">
          <li><a href="#">All</a></li>
          <li><a href="#">Unpaid</a></li>
          <li><a href="#">Paid</a></li>
        </ul>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </nav>
  </div>

  <div class="container" id="jumbotron">

    <%= yield %>

  </div>


</body>
</html>
